{% extends "base.html" %}

{% block title %}Список организаций{% endblock %}

{% block content %}

<h1>Список организаций</h1>
{% if organizations %}
    <ul>
    {% for organization in organizations %}
        <li><a href="/organizations/{{ organization.id }}/">{{ organization.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No organizations!</p>
{% endif %}

{% endblock %}