{% extends "base.html" %}

{% block title %}{{ organization.title }}{% endblock %}

{% block content %}

<h1>{{ organization.title }}</h1>

<h2>Описание</h2>
<p>{{ organization.description }}</p>

<h2>Сотрудники</h2>
<p>{{ organization.staff }}</p>

<h2>Структура</h2>
<p>{{ organization.structure }}</p>

<h2>Контакты</h2>
<p>{{ organization.contacts }}</p>

<h2>Вебсайт</h2>
<p>{{ organization.website }}</p>

<h2>Рейтинг</h2>
<p>{{ organization.karma }}</p>

{% endblock %}