{% extends "base.html" %}

{% block title %}{{ problem.title }}{% endblock %}

{% block content %}

<h1>{{ problem.title }}</h1>

<p>Описание</p>
<p>{{ problem.description }}</p>

<p>Сообщил о проблеме</p>
<a href="/profiles/{{ problem.author.id }}/">{{ problem.author.firstname }} {{ problem.author.lastname }}</a>

<p>Проблема зарегистрирована</p>
<p>{{ problem.asked }}</p>

{% endblock %}