{% extends "base.html" %}

{% block title %}Открытые вопросы{% endblock %}

{% block content %}

<h1>Список открытых проблем</h1>
{% if problems %}
    <ul>
    {% for problem in problems %}
        <li><a href="/issues/{{ problem.id }}/">{{ problem.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No problems!</p>
{% endif %}

{% endblock %}