{% extends "base.html" %}

{% block title %}{{ person.firstname }} {{ person.lastname }}{% endblock %}

{% block content %}

<h1>{{ person.firstname }} {{ person.lastname }}</h1>
    <p>{{ person.username }}</p>
    <p>{{ person.birthday }}</p>
    <p>{{ person.invited_by }}</p>
    <p>{{ person.phone }}</p>
    <p>{{ person.email }}</p>
    <p>{{ person.website }}</p>
    <p>{{ person.facebook }}</p>
    <p>{{ person.karma }}</p>

{% endblock %}