{% extends "base.html" %}

{% block title %}Список пользователей{% endblock %}

{% block content %}

{% if users_list %}
    <ul>
    {% for person in users_list %}
        <li><a href="/profiles/{{ person.id }}/">{{ person.firstname }} {{ person.lastname }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users are registered.</p>
{% endif %}

{% endblock %}